.table-container {
    margin-top: 20px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table-container th, .table-container td {
    text-align: left;
    padding: 12px 15px;
    font-size: 14px;
}

.table-container th {
    background-color: #f8f9fa;
    font-weight: bold;
    color: #495057;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.table-container tr:nth-child(even) {
    background-color: #f9f9f9;
}

.info-btn {
    background-color: #4ca0af; /* Azul claro */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interior */
    text-align: center; /* Centrado del texto */
    text-decoration: none; /* Eliminar subrayado */
    display: inline-block; /* Ajustar el tamaño del botón */
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.info-btn:hover {
    background-color: #45a09be1; /* Color verde más oscuro al pasar el mouse */
}

.info-btn:focus {
    outline: none; /* Eliminar el borde al hacer clic */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal.show {
    display: block;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 8px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.contrato-btn {
    background-color: #2ecc71; /* Verde mar */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.contrato-btn:hover {
    background-color: #27ae60; /* Verde mar oscuro al pasar el mouse */
}

.modal-title {
    font-size: 24px;
    margin-bottom: 20px;
}