<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    {% block styles %}
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <header>
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar...">
        </div>
        <div class="user-menu">
            <div class="user-icon">U</div>
            <div class="user-dropdown">
                <a href="#profile">Usuario</a>
                <a href="#settings">Ajustes</a>
                <hr>
                <a href="#logout">Cerrar sesión</a>
            </div>
        </div>
    </header>
    {% endblock %}

    {% block sidebar %}
    <div class="sidebar">
        <div class="logo">
            <h2><i class="fas fa-smile-wink"></i>Prestamos Delgado</h2>
        </div>
        <a href="{{ url_for('admin.admin') }}">Inicio</a>
        <a href="{{ url_for('solicitudes.solicitudes') }}">Solicitudes</a>
        <a href="{{ url_for('clientes.clientes') }}">Contratos</a>
        <a href="">Configuracion</a>
        <a href="{{ url_for('versiones.versiones') }}">Versiones</a>
    </div>
    {% endblock %}

    <div class="main-content">
        {% block content %}
        <main>
            <h1>Dashboard</h1>
            <div class="cards">
                <div class="card">
                    <h3>Ganancias Semanales </h3>
                    <p>$1,000</p>
                </div>
                <div class="card">
                    <h3>Ganancias Mensuales</h3>
                    <p>$4,000</p>
                </div>
                <div class="card">
                    <h3>Solicitudes</h3>
                    <p>{{ total_solicitudes }}</p>
                </div>
                <div class="card">
                    <h3>Contratos</h3>
                    <p>{{ total_clientes }}</p>
                </div>
            </div>
            <div class="datatable-container">
                <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if datos %}
                            {% for dato in datos[:3] %}
                            <tr>
                                <td>{{ dato.id }}</td>
                                <td>{{ dato.nombre_solicitante }}</td>
                                <td>{{ dato.correo }}</td>
                                <td>{{ dato.telefono_solicitante }}</td>
                                <td>${{ dato.monto_solicitado }}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5" class="no-data-message">No hay solicitudes actualmente</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="button-container">
                <a href="{{ url_for('solicitudes.solicitudes') }}" class="view-more-btn">Ver más</a>
            </div>
            <div class="chart-container">
                <canvas id="monthlyEarningsChart"></canvas>
                <div class="month-selector">
                    <label for="month">Selecciona el mes:</label>
                    <select id="month" class="modern-select">
                        <option value="0">Enero</option>
                        <option value="1">Febrero</option>
                        <option value="2">Marzo</option>
                        <option value="3">Abril</option>
                        <option value="4">Mayo</option>
                        <option value="5">Junio</option>
                        <option value="6">Julio</option>
                        <option value="7">Agosto</option>
                        <option value="8">Septiembre</option>
                        <option value="9">Octubre</option>
                        <option value="10">Noviembre</option>
                        <option value="11">Diciembre</option>
                    </select>
                </div>
            </div>
        </main>
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/admin.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>