{% extends "admin.html" %}

{% block title %}Usuarios{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/usuario.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
{% endblock %}

{% block content %}


    <div class="container">
        <button class="btn-agregar">Agregar Usuario</button>
        <h1>Administrar Usuarios</h1>
        <table id="ownersTable" class="display">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Rol</th>

                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                {% if usuario[1] != 'admin' %}
                <tr data-id="{{ usuario[0] }}">
                    <td style="display: none;">{{ usuario[0] }}</td>
                    <td>{{ usuario[1] }}</td>
                    <td>{{ usuario[2] }}</td>
                </tr>
                {% endif %}
            {% endfor %}
            
            </tbody>
        </table>
    </div>

    <div class="modal" id="modal-agregar">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Agregar Usuario</h2>
                <button id="close-modal">X</button>
            </div>
            <form id="form-agregar" method="POST" action="/usuarios/agregar">
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username" required><br>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required><br>
                <label for="rol">Rol:</label>
                <select id="rol" name="rol" required>
                    <option value="1">1</option>
                    <option value="0">0</option>
                    <option value="admin">Admin</option>

                </select><br><br>
                <button type="submit">Guardar</button>
            </form>
        </div>
    </div>



    {% endblock %}

    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script> <!-- Primero Notyf -->
    <script src="/static/js/usuario.js"></script> <!-- Luego tu JS -->
{% endblock %}

    